@import './normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto&display=swap');

:root {
  --background-color-light: #f2f4f6;
  --text-color-light: #8a8a8a;
  --background-color-dark: #545454;
  --text-color-dark: #f2f4f6;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: var(--background-color-light);
  color: var(--text-color-light);
  font-family: 'Montserrat', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  height: 100%;

}

div.dark-theme * {
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
}

div.dark-theme input {
  background-color: var(--background-color-light);
  color: var(--text-color-light);
}

div.dark-theme button {
  border: 0.5px solid;
}

div.dark-theme ._formContainer_8n7er_10 {
  border: 0.5px solid;
}

div.dark-theme .card-detail {
  border: 0.5px solid;
}

main {
  flex: 1;
  /* Ajusta el contenido principal para llenar el espacio restante */
  overflow-y: auto;
  /* Agrega desplazamiento vertical cuando el contenido es largo */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  background-color: #b3b5b8;
  color: var(--text-color-dark);
  ;
  padding: 10px;
  /* border-color: #282c34; */
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin: 25px;
  width: 20%;
}


h1 {
  text-align: center;
  margin: 0;
  padding: 50px;
}

h2 {
  margin: 0;
}

label {
  margin: 15px
}

.icon {
  width: 25px;
  height: 25px;
  margin: 10px;
}

.card:hover {
  border: 0.5px solid rgb(206, 217, 142);
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;
  width: 95%;
  margin: auto;
  padding-bottom: 50px;
}

.dentist-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.contact-container {
  padding: 35px;
}

.card-detail {
  text-align: center;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 68px;
  background-color: #b3b5b8;
  color: white;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}