:root {
  --background-color-light:#f2f4f6;
  --text-color-light: #282c34;

  --background-color-dark: #282c34;
  --text-color-dark: #f2f4f6;
}

body {
  height: 100%;
  background-color: var(--background-color-light);
  color: var(--text-color-light);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div.dark-theme * {
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
}

div.dark-theme input{
  background-color: var(--background-color-light);
  color:var(--text-color-light);
}

main {
  flex: 1; /* Ajusta el contenido principal para llenar el espacio restante */
  overflow-y: auto; /* Agrega desplazamiento vertical cuando el contenido es largo */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button{
  background-color:  #b3b5b8;
  padding: 10px;
  border-color: #282c34;
  cursor: pointer;
  border-radius: 5px;
  margin: 25px;
  width: 50%;
}

h1{
  text-align: center;
  margin: 0;
  padding: 50px;
}

h2{
  margin:0;
}

.navbar{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  display: flex;
  padding: 10px 20px;
  align-items: center;
  color: var(--text-color-dark);
  background-color: #b3b5b8;

}

.logo{
  width: 10%;
}

.link{
  margin: 30px
}

.nav1{
  display: flex;
}

a{
  color: var(--text-color-light);
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
  font-size: large;
  text-align: center;
}

a:hover{
  color: rgb(136, 136, 136);
} 

label{
  margin: 15px
}

footer {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 2rem;
  position:relative;
  bottom: 0;
  background-color: #b3b5b8;
}

footer > div > img{
  width: 200px;
  margin: 0;

}
footer > div > p {
  margin: 0;
  padding-top: 0.7rem;
}

.footer_div{
display: flex;
}

.icon{
  width: 25px;
  height: 25px;
  margin: 10px;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height: 100px;
  margin: 0 auto;
}

input{
  border: none;
  background: white;
  padding: 10px 20px;
  border-radius: 10px;
  width: 300px;
}

.form-container{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 300px;
  align-items: center;
  padding: 25 px;
}

.form-response{
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  padding: 0.5rem;
  border: 0.5px solid rgb(136, 136, 136);
  border-radius: 5px;
  margin-bottom: 1rem; /* Añadimos margen inferior para separar las tarjetas */
}

.card:hover {
  border: 0.5px solid rgb(206, 217, 142);
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;
  width: 100%;
  margin: 0;
  padding-bottom: 50px;
}

/* Asegura que todas las tarjetas tengan la misma altura */
.card-grid::after {
  content: "";
  flex: auto; /* Estira el elemento después de las tarjetas */
}

.divImgDoctor {
  width: auto;
  height: auto;
}

.imgDoctor {
  width: 100%;
  border-radius: 5px;
}

.dentist-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.contact-container{
  padding:35px;
}

.card-detail{
  text-align: center;
  padding: 0.5rem;
  border: 0.5px solid rgb(136, 136, 136);
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 68px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
